@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.NAV {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.NAV div {
    color: lightseagreen;
    font-family: "Kanit", sans-serif;
}

/* Estilos de la lista en el menú */
.NAV ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 20px;
    justify-content: space-around;
}

ul article {
    display: flex;
}

/* Estilos para los items de la lista */
li {
    list-style: none;
    padding: 8px;
}

/* Botones generales */
ul .btn {
    border: none;
    font-size: 17px;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 5px;
}

/* Estilos específicos para el botón "Sobre esta web" */
.btnAbout {

    width: 130px;
    border: none;
    font-size: 17px;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
}

.btn:hover {
    background-color: red;
    color: whitesmoke;
}

/* Estilos para el botón "Registrarse" */
.btnARegistrarse {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    translate: 30px;
}

.btnARegistrarse:hover {
    background-color: rgba(249, 249, 249, 0.5);
}

/* Estilos para el botón "Iniciar sesión" */
ul .btnAiniciarSesion {
    background-color: lightseagreen;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 30px;
}

/* Estilos responsivos */

@media (max-width: 575px) {
    ul {
        justify-content: left;
        padding: 0;
    }

    .NAV {
        text-align: center;
        padding: 10px 0;
    }

    .NAV div {
        width: 100%;
    }

    ul button, ul .btn {
        font-size: 15px;
    }

    ul article {
        width: 100%;
        display: flex;
        justify-content: right;
        gap: 10px;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 5px 0px;
    }
}

@media (min-width: 570px) and (max-width: 769px) {
    .NAV {
        text-align: center;
        padding: 10px 0;
    }

    .NAV div {
        width: 100%;
    }

    ul button, ul .btn {
        font-size: 16px;
    }

    ul article {
        width: 100%;
        display: flex;
        justify-content: right;
        gap: 10px;
    }

    li {
        list-style: none;
        padding: 5px;
    }
}

@media (min-width: 768px) and (max-width: 989px) {
    .NAV {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 5px 5px 5px 30px;
    }

    ul {
        width: 75%;
    }

    ul article {
        width: 100%;
        justify-content: right;
    }

    li {
        list-style: none;
        padding: 5px;
    }
}

@media (min-width: 990px) {
    .NAV {
        padding-left: 30px;
    }
}
