
.ContFooter {
    background-color: rgba(0, 0, 0, 0.788);
    color: whitesmoke;
    display: grid;
    grid-template:
    "addres section" 80%
    "footer footer" /
     50% auto;
}

.ContFooter address {
    padding: 40px 0 0 40px;
    grid-area: addres;
}

address p {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    word-wrap: break-word;
    overflow: hidden;

}

address svg {
    min-width: 20px;
}

address a {
    text-decoration: none;
    word-wrap: break-word;

}

#ContRedes {
    display: flex;
    gap: 20px;
}

.ContFooter section {
    padding: 40px;
    grid-area: section;
}

#DivFooter {
    margin-top: -30px;
    text-align: center  ;
    padding: 20px;
    grid-area: footer;
}

