
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    height: 500px;
    padding: 20px;
    margin: auto;
    width: 95%;
}

article {
    height: auto;
    width: 100%;
    border-radius: 10px;
    border: solid;

}

article:nth-child(1) {
    border: solid;
    grid-row-start: span 3;
    grid-column-start: span 2;
}

