

.ItemCardDetails {
    width: 100%;
    display: flex;
    background-color: rgb(153, 153, 153);
    padding: 50px;
    gap: 0px;
    line-height: 20px;
    border-radius: 20px;    
}

.ItemCardDetails .svgg {
    border: solid 1px;
    padding: 0 5px;
    border-radius: 10px;
}

.HeaderDetails {
    display: flex;
    justify-content: right;
    margin: 20px 0;
    gap: 10px;
}

.stars {
    display: flex;
    gap: 5px;
    font-size: 20px;

}

.actions {
    text-align: right;
}


.pCategoryDetails {
    color: lightblue;
    font-size: 17px;
    padding-left: 20px;
    margin-bottom: 5px;

}
.pTitleDetails {
    padding-left: 20px;
    font-size: 25px;
    word-wrap: break-word;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.imgCardDetails {
    width: 60%;
    padding: 10px 20px;
    border-radius: 20px;
}
.imgDetails {
    width: 100%;
    height: 340px;
    object-fit: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pDateDetails {
    margin: 0;
    margin-top: -15px;
    font-weight: bold;
    padding-left: 20px;
    text-align: right;
}


.ContPDetails {
    padding: 0 50px 50px 50px;
    width: 80%;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;

}

.ContPDetails p {
    word-wrap: break-word;
}


.pStateDetails {
    text-align: left;
    margin-top: -10px;
}

.ContSendsms {
    border: 0.1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -10px -10px 10px 0 rgb(156, 153, 153),
        10px 10px 10px 0 rgb(156, 153, 153),;
    background-color: gray;
    margin: 20px 0;
}


.SendSms {
    display: flex;
    gap: 10px;
    justify-content: center;
}



.SendSms input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    background-color: whitesmoke;
    border: none;
}

.SendSms button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: solid;
    background-color: darkcyan;
}


.pDescriptionDetails {
    margin-top: -10px;
    padding: 10px 20px;
    background-color: darkgray;
    border-radius: 5px;
}

.actions {
    display: flex;
    justify-content: right;
    margin: 20px 0;
    gap: 10px;
}

.actions button {
  
    background-color: darkcyan;
    border: none;
}

.actions button:hover {
    transform: scale(1.2);
}


.actions button .actions svg:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.UserDetail{
    background-color: #055757;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 10px;
}

.UserDetail div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.UserDetail button {
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
}

.UserDetail p {
    color: whitesmoke;
    font-size: 20px;

}




@media (max-width: 571px) {

}

@media (min-width: 572px) and (max-width: 769px) {
}

@media (min-width: 768px) and (max-width: 989px) {
}

@media (min-width: 990px) and (max-width: 1150px) {
}
