
#ContSms {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.card {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.548);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background-color: darkcyan;
    color: #fff;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-header p {
    position: relative;
    top: 7px;
  }

  .headerChat {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  svg:hover {
    transform: scale(1.3);
  }

  .chat-window {
    height: 500px;
    width: 500px;
    overflow: auto;
    padding: 30px 10px;
  }

  .Box {
    border-radius: 5px; 
    padding: 5px;
    width: 50%;

  }


  .smsReceptor {
    background-color: rgb(212, 208, 208);
    float: right;
    margin: 5px;
  }
  
  .smsRemitente {
    background-color: lightblue;
    float: left;
    margin: 5px;


  }
  
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #ccc;

  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: darkcyan;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }